  <section class="content" id="about">
      <div class="block-content">
          <h3 class="block-title">Profile</h3>
          <h3 class="subheading">Hi! 👋, I'm  Carlos Carret <strong>Bachelor of Science in Computer Science at the University of Havana @matcom from January 15, 2024. Full Stack Developer, Angular, .Net Core, .Net Framework, Machine Learning Newbie and Blockchain enthusiast.</strong></h3>
          <p>More than 4 years of experience in frontend and backend development. Experienced in all stages of the development lifecycle for dynamic web projects. Knowledge of best practices and various tools including advanced HTML5, CSS, CSS3, JSON, JavaScript, Angular. Development of desktop applications. Skills in working with Smart Contracts and languages like Solidity. Strong proficiency in working with Python, including its libraries such as Pandas, Numpy, Matplotlib, and its application in developing algorithms for Machine Learning. Strong background in management and teamwork.</p>
          <div class="info-list row">
              <div class="col-sm-6"><span>Name : </span> Carlos Carret</div>
              <div class="col-sm-6"><span>Birthdate : </span> May 28, 1998 </div>
              <div class="col-sm-6"><span>Address : </span> Cuba, Havana, Havana Center.</div>
              <div class="col-sm-6"><span>Email : </span> krtucho98@gmail.com</div>
              <div class="col-sm-6"><span>Phone : </span> + 53 5 482 07 68</div>
              <div class="col-sm-6"><span>Interests : </span> Frelance, Full-Time</div>
          </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Professional</h3>
          <h4 class="block-title">Programming Languages</h4>
          <div *ngFor="let profex of cv.proPL">
            <label class="progress-bar-label">{{ profex.nombre }}</label>
            <div class="progress">
                <div [style.width.%]=profex.valor class="progress-bar" role="progressbar" attr.aria-valuenow="{{ profex.valor }}" aria-valuemin="0" aria-valuemax="100">
                    <span>{{ profex.valor }}%</span>
                </div>
            </div>
        </div>
        <h4 class="block-title">Frameworks</h4>
        <div *ngFor="let profex of cv.proFr">
            <label class="progress-bar-label">{{ profex.nombre }}</label>
            <div class="progress">
                <div [style.width.%]=profex.valor class="progress-bar" role="progressbar" attr.aria-valuenow="{{ profex.valor }}" aria-valuemin="0" aria-valuemax="100">
                    <span>{{ profex.valor }}%</span>
                </div>
            </div>
        </div>
        <h4 class="block-title">Languages</h4>
        <div *ngFor="let profex of cv.proFL">
            <label class="progress-bar-label">{{ profex.nombre }}</label>
            <div class="progress">
                <div [style.width.%]=profex.valor class="progress-bar" role="progressbar" attr.aria-valuenow="{{ profex.valor }}" aria-valuemin="0" aria-valuemax="100">
                    <span>{{ profex.valor }}%</span>
                </div>
            </div>
        </div>
        <h4 class="block-title">Other Tools</h4>
        <div *ngFor="let profex of cv.otherTools">
            <label class="progress-bar-label">{{ profex.nombre }}</label>
            <div class="progress">
                <div [style.width.%]=profex.valor class="progress-bar" role="progressbar" attr.aria-valuenow="{{ profex.valor }}" aria-valuemin="0" aria-valuemax="100">
                    <span>{{ profex.valor }}%</span>
                </div>
            </div>
        </div>

      </div>
      <div class="block-content">
          <h3 class="block-title">Experience</h3>
          <div class="timeline experience">
              <div class="row">
                  <div class="col-md-12">
                      <div class="exp-holder">
                          <div *ngFor="let expex of cv.experiencia">
                            <div class="exp">
                                <div class="hgroup">
                                    <h4><span>{{ expex.Empresa }}</span> - {{ expex.Cargo }}</h4>
                                    <h5> {{ expex.Fecha }} </h5>
                                </div>
                                <p>{{ expex.Descripcion }}</p>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Education</h3>
          <div class="timeline education">
              <div class="row">
                  <div class="col-md-12">
                      <div class="exp-holder">
                        <div *ngFor="let edux of cv.educacion">
                          <div class="exp">
                              <div class="hgroup">
                                  <h4>{{ edux.Nombre }} | <a href="{{ edux.Url }}" target="_blank"><span>Ver Certificado</span></a></h4>
                                  <h5>{{ edux.Fecha }}</h5>
                              </div>
                              <p>{{ edux.Descripcion }}</p>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Services</h3>
          <div class="row">
              <div class="col-md-4 col-sm-6 service">
                  <div class="service-icon">
                      <i class="ion-laptop"></i>
                  </div>
                  <h4>Web Design</h4>
                  <p>Web design involves creating visually appealing and functional websites. It encompasses both static server websites and applications that require multiple services. Additionally, web design includes the deployment of websites and ensuring the creation of a distributed and efficient system when necessary.</p>
              </div>
              <div class="col-md-4 col-sm-6 service">
                  <div class="service-icon">
                      <i class="ion-pie-graph"></i>
                  </div>
                  <h4>Application Development</h4>
                  <p>Application development encompasses the creation of desktop and mobile applications for various platforms. It involves developing the visual part of the application, as well as its API, backend, or the service from which it will consume data.</p>
              </div>
              <div class="col-md-4 col-sm-6 service">
                  <div class="service-icon">
                      <i class="ion-chatbubbles"></i>
                  </div>
                  <h4>Creation of Telegram Bots</h4>
                  <p>Telegram bots are software programs capable of performing automated tasks through the Telegram messaging platform. These bots can interact with users, respond to commands, and autonomously carry out specific actions.</p>
              </div>
              <!-- <div class="col-md-4 col-sm-6 service">
                  <div class="service-icon">
                      <i class="ion-printer"></i>
                  </div>
                  <h4>Print Design</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
              </div>
              <div class="col-md-4 col-sm-6 service">
                  <div class="service-icon">
                      <i class="ion-qr-scanner"></i>
                  </div>
                  <h4>Graphic Design</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
              </div>
              <div class="col-md-4 col-sm-6 service">
                  <div class="service-icon">
                      <i class="ion-social-buffer"></i>
                  </div>
                  <h4>Print Design</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
              </div> -->
          </div>
      </div>
     <!--  <div class="block-content">
          <h3 class="block-title">Awards</h3>
          <div class="row">
              <div class="col-md-3 col-sm-6 awards">
                  <img src="assets\images\awards\1.jpeg" alt="">
              </div>
              <div class="col-md-3 col-sm-6 awards">
                  <img src="assets\images\awards\2.jpeg" alt="">
              </div>
              <div class="col-md-3 col-sm-6 awards">
                  <img src="assets\images\awards\3.jpeg" alt="">
              </div>
              <div class="col-md-3 col-sm-6 awards">
                  <img src="assets\images\awards\4.jpeg" alt="">
              </div>
          </div>
      </div> -->
      <!-- <div class="block-content">
          <h3 class="block-title">Testimonials</h3>
          <div class="row">
              <div id="liontestimonial" class="owl-carousel owl-theme">
                  <div *ngFor="let testix of cv.testimonio">
                    <div class="item testimonials">
                        <img src="assets\images\testimonials\1.jpeg" alt="">
                        <blockquote>{{ testix.Descripcion }}
                            <p class="quote"><span>{{ testix.Nombre }}</span> - {{ testix.Cargo }}</p>
                        </blockquote>
                    </div>
                </div>

              </div>
          </div>
      </div> -->
      <div class="row text-center">
          <div class="col-md-12 btn-email">
              <a class="btn lowercase">krtucho98@gmail.com</a>
          </div>
      </div>
  </section>
